@charset "utf-8";
/* CSS Document */

html,body{ margin:0px; padding:0px; color:#111; font:14px Tahoma, Geneva, sans-serif; background: #F9F9F9; direction: rtl;}

.nice-font{ font-family: Tahoma; line-height: 19px; }

h1, h2, h3, h4, h5, h6  { margin: 0; padding:0px; }

p{margin:0px; padding: 0px;}

a{ text-decoration:none;color:inherit;}
a:hover{text-decoration:underline;}

a.none{color:#FFF;}
a.none:hover{text-decoration:none;}

a img{ border:0px; }

h2{padding:0px; margin: 0px;}

hr{border:0px; border-top: 1px solid #DDD; box-shadow: 0px 2px 5px #AAA; }

.circle-loader{background:url('images/loader2.gif'); width:60px; height:7px; position: absolute; z-index: 1500}

.fb-like{margin:20px 30px 0px 30px;}

.clr{clear: both;}
.grey-btn{ border:0px; font-size:16px; font-family: Tahoma; font-size: 14px; line-height: 19px;  padding-top:0px;height:27px; cursor: pointer; color:#FFF; border-radius: 5px; font-weight: bold; width:100px; text-align: center; background:url('images/grey-gradient.jpg'); float:left;}
.grey-btn:hover{background:url('images/light-grey-gradient.jpg');}
.message-btn{border:0px; width:88px; height:28px; border-radius: 5px; background: url('images/message-button.jpg'); cursor: pointer;}

#Container{width:1000px; margin:0px auto; border:1px solid #CCC; background:#FFF; box-shadow: 0px 0px 10px #BBB; font-family: Tahoma;}

	/******************** Header **************************/
	#header{height:208px;}
	#top-header{color:#FFF; height:34px; width:100%; background:#000 url('images/black-gradient.jpg');}
	#top-header h2{float:right; margin-right:100px; font-size:15px;}
	#top-header-account{padding:7px 0px; float:left; margin-left:220px;}
	#top-header-account a{font-size:12px; color:#FFF;}
	#top-header-account a span{color:#F00; font-weight: normal;}
	#top-header-account ul{list-style: none; margin:0px;}
	#top-header-account ul li{float: right; margin-left:15px;}
	#top-header-account ul li.sep{ color:#999; }
	#top-header-account .icon{ width:20px; height:20px; float: right; margin-left:5px; }
	#top-header-account .home-i{ background:url('images/home-icon.png');}
	#top-header-account .messages-i{ background:url('images/message-icon.png');}
	#top-header-account .gallery-i{ background:url('images/gallery-icon.png'); height:19px;}
	#top-header-account .exit-i{ background:url('images/exit-icon.png');}
	#top-header-form{ float:right; height:34px; margin-right:10px; }
	#top-header-form label{ color:#ffd1d1; }
	#top-header-form .txt{height:22px; padding:0px 22px 0px 0px; border:0px; border-radius: 5px; width:135px; background-repeat: no-repeat, repeat; background-position: 135px 3px; }
	#top-header-form .user-icon{ background-image: url(images/icons/user-icon.png), url(images/white-gradient.jpg); }
	#top-header-form .pass-icon{ background-image: url(images/icons/pass-icon.png), url(images/white-gradient.jpg); }
	#top-header-form .btn{ position:relative; top:5px; cursor: pointer; width:80px; height:23px; background:url('images/login-button.png'); border:0px;  }

	#middle-header{background:#000 url('images/header-bg.jpg'); width:100%; height:135px;}
	#middle-left-header{float:left; margin-top:50px; width:250px;}
	
	.socials a div{width:30px; height: 30px; float:right; margin-left: 5px;}
	.socials .facebook{background:url('images/social/facebook.png');}
	.socials .twitter{background:url('images/social/twitter.png');}
	.socials .youtube{background:url('images/social/youtube.png');}
	.socials .linkedin{background:url('images/social/linkedin.png');}

	#middle-left-header .search{}
	#middle-left-header .search-txt{ font:13px Tahoma, Geneva, sans-serif; color:#666; background:url('images/white-gradient.jpg'); border:0px; border-radius: 10px; padding:5px; padding-right:30px; width:185px;}
	#middle-left-header .search-btn{ background:url('images/icons/search.png'); width:26px; height:26px; border: 0px; float:left; position:relative; top:0px; left:225px; cursor: pointer; }
	#bottom-header{ height:39px; width:100%; background:url('images/red-gradient.jpg'); margin:0px; }
	#header-menu ul{list-style:none; margin:0px; margin-right:240px; padding: 0px;}
	#header-menu ul li{float:right;}
	#header-menu ul li a{padding:10px; color:#FFF; line-height: 39px;}
	#header-menu ul li:hover{ background:#c82a30;}
	#header-menu ul li a:hover{text-decoration: none;}
	#header-menu ul li ul{display: none;}
	#header-menu ul li:hover ul{ z-index: 1000; display: block; position: absolute; margin:0px; background: #333;}
	#header-menu ul li:hover li{float: none; width:160px; border-bottom:1px solid #444;}
	/****************** END Header ************************/


	/******************** Body **************************/
		#right-panel{ float:right; margin-right:10px; height:222px; position: relative; bottom:80px;}
		#right-panel #logo{width:225px; height:375px; background:url('images/logo.jpg');}

		.hello-box{float:right; width:740px; margin-right:13px; margin-top:20px; height:273px; font-family: Tahoma;}
		.white-box{border:1px solid #b2b2b2; box-shadow:inset 0px 0px 20px #888;}
		.white-box .title{padding-right:10px; background:url('images/green-gradient.jpg'); height:37px; margin-top:20px;  color:#FFF; font-size:19px; line-height: 40px;}
		.white-box .small-title{font-size:16px; font-weight: bold; color:#157916; padding:15px 15px 0px 0px;}
		.white-box .tools{width: 700px; height:0px; position: relative; bottom:42px; text-align: left; padding: 10px;}
		.white-box .tools .slct{margin-left:10px;}
		.white-box p{padding:15px; font-size: 12px; color:#444; font-weight: bold; text-align: justify;}
		.white-box b{color:#000;}
		.white-box .user-value{ font-size:14px; font-weight: normal;}
		.white-box .user-info{color:#333; font-size: 14px; font-weight: normal; padding:0px 30px; }
		.white-box .user-info div{line-height: 22px;}
		.white-box .user-info a{color:#900;}
		.white-box .grey-more{ padding-top:3px; height:24px; color:#FFF; border-radius: 5px; font-weight: bold; margin-left: 15px; width:100px; text-align: center; background:url('images/grey-gradient.jpg'); float:left;}
		.white-box .grey-more:hover{  background:url('images/light-grey-gradient.jpg'); }
		.white-box .slider-box{float:left; width:140px; margin-top:20px;}
		.white-box .slider-box .nav{width:95px; margin-top:20px;}
		.white-box .slider-box .next-btn{width:27px; height:27px; background:url('images/left-arrow.jpg'); float:left;}
		.white-box .slider-box .prev-btn{width:27px; height:27px; background:url('images/right-arrow.jpg'); float:left; margin-left:10px;}

		#content{ min-height:550px; }
		.errors, .success{ float: right; text-align:right; background:#F2DEDE; color:#B94A48; margin-bottom:10px; border-radius: 10px; width:100%; margin-right:0px;}
		.errors ul, .success ul{list-style: none;}
		.errors .close, .success .close{font-size:18px; float:left; padding:10px; cursor: pointer;}
		.success{ background:#DFF0D8; color:#468847; }

		#body{width:100%; margin-top:20px; font-family: Tahoma;}
		#left-body{margin-top: 20px; width:733px; float:right; margin-right:15px;}

		.banner-suggestions, .banner-register{float:right; text-align: center; width:284px; padding-top:25px; height:75px; margin-right: 14px; }
		.banner-suggestions{background:url('images/suggestions-banner.jpg');}
		.banner-suggestions:hover{ background:url('images/suggestions-banner-active.jpg');}
		.banner-register{background:url('images/register-banner.jpg');}
		.banner-register:hover{ background:url('images/register-banner-active.jpg');}

		.city-box{padding-bottom:20px;}
		.small-box{float:right; width:281px; margin-right:15px; height:240px;}
		.small-box h3{height:20px; overflow: hidden;}
		.small-box p{height:78px; overflow: hidden;}


		/****************** Sections ************************/
		#body .right-section{width:600px; float:right;}
		#body .left-section{width:380px; float:right; margin-right:10px;}
		/****************** END Sections ************************/

		.title-menu{ height:0px; float:left; position: relative; left: 10px; bottom: 34px; }
		.title-button{float:right; padding:8px 10px; margin-left:10px; border-radius: 10px 10px 0px 0px; text-decoration: underline; color:#FFF;}
		.title-button:hover, .active-button{ border:1px solid #666; border-bottom: 0px; background:#FFF;  color:#333; text-decoration: none; position: relative; top: 1px;}

		/* Slider */
		.slides_container .slide{display: none;}	
		.slides_container .slide:first-child{display: block;}	



	/****************** END Body ************************/

	/******************** RIGHT **************************/
	.right-box{ width:224px; height:200px; margin-top:10px; border:1px solid #CCC; border-radius: 10px 10px 0px 0px;  font-family: Tahoma;}
	.right-box h2{background:#cb1e24; border-radius: 10px 10px 0px 0px; padding:5px; color:#FFF; font-size:20px; text-align: center; font-weight: normal;}
	.right-box .content{padding:10px;}
	.right-box .content img{float:left; width:80px; border:1px solid #333;}
	.right-box .content p{float:right; width:110px; overflow: hidden; text-align: justify; margin-left:10px; font-size:13px; height:99px;}
	.right-box .content h3{font-size:16px; margin-bottom:10px; height:20px; overflow: hidden;}
	.right-box .grey-more{ padding-top:3px;height:24px; color:#FFF; border-radius: 5px; position: relative; top:10px; width:50px; text-align: center; background:url('images/grey-gradient.jpg'); float:left; font-size:12px;}
	.right-box .grey-more:hover{  background:url('images/light-grey-gradient.jpg'); }
	/****************** END RIGHT ************************/

	/******************** Events **************************/
	.events{padding-bottom: 20px; font-family: Tahoma;}
	.events .event{ padding:40px 0px;  border-bottom:1px solid #DDD;}
	.events .event .info{float:right; width:590px;}
	.events .event p{ color:#444; padding:15px 30px;}
	.events .event .img{float:right;}
	.events .event .img img{border:1px solid #BBB;}
	.events .event h3{color:#333; font-size: 18px; padding-right:30px; padding-left:5px;}
	.events .event a{text-decoration: underline;}
	.events .event a:hover{text-decoration: none;}
	/******************** END Events **************************/


	.voting-result{padding:5px 20px 30px 30px;}
	.voting-result .answer{margin-top:10px;}
	.voting-result .label{margin-left:10px; position: relative; top:3px; font-size: 12px; font-weight: bold; margin-bottom:10px;}
	.voting-result .label span{font-size:10px; color:#900;}
	.voting-result .answer-div{}
	.voting-result .precentage{border:1px solid #900; height:20px; width:310px; text-align: center;}
	.voting-result .completion{background:#CC1F25; height:20px;}
	.empty-message{padding:20px; text-align: center; font-size: 16px; color:#333; margin-top:20px;}

	/******************** Pages **************************/
	.pages{position: relative; bottom: 7px;}
	.pages ul{list-style: none;}
	.pages ul li{float: right;}
	.pages ul li a, .pages ul li span{padding:7px 10px; background:#DDD; margin-left:10px;}
	.pages ul li.active span, .pages ul li a:hover{ background:#199e19; color:#FFF; }
	.pages ul li.disabled{display: none;}
	/******************** END Pages **************************/


	/******************** Footer **************************/
	#footer{height:114px; width:100%; background:url('images/footer-bg.jpg'); margin-top:20px;}
	#footer ul{list-style: none; padding-top:20px;}
	#footer ul li{float: right; padding:0px 10px; color:#FFF; border-left:1px solid #666;}
	#footer ul li:last-child{border-left: 0px;}
	#footer .copyright{padding:50px 50px 0px 0px; color:#999; font-size:12px;}
	/****************** END Footer ************************/

.plus-icon{ color:#FFF; float:left; margin:3px 10px; font-weight: normal; color:666; font-size: 12px; width:20px;  height:20px; cursor: pointer;}
.plus-icon:hover{text-decoration: underline;}

.white-box .title div{float:right; margin-left:10px; position: relative; top:5px;}
.gallery-icon{background: url('images/gallery_icon.png'); width:30px; height: 28px; }
.family-icon{background:url('images/family-icon.png'); width:28px; height:25px;}
.events-icon{background:url('images/events-icon.png'); width:30px; height:30px;}
.jobs-icon{background:url('images/jobs-icon.png'); width:25px; height:25px; margin-top:2px;}
.members-icon{background:url('images/member-icon.png'); width:30px; height:30px;}
.page-icon{background:url('images/page-icon.png'); width:23px; height: 23px;margin-top:3px;}



.premium-header{background:url('images/premium-header.jpg'); width:580px; height:123px; margin: 0px auto; margin-bottom:10px; cursor: pointer;}
.premium-header .conditions{ padding:15px 135px 20px 25px; text-align: justify; font-size:12px; color:#2c4401; height:70px; overflow: hidden;}

.boxgrid{  
    width: 145px;  
    height: 145px;  
    margin:10px 15px;
    float:right;  
    background:#FFF;  
    border: solid 1px #CCC;  
    overflow: hidden;
    position: relative;
}
.boxgrid img{  
    position: absolute;  
    top: 0;
    left: 0;
    border: 0;
}  

.boxcaption{  
    float: left;
    position: absolute;  
    top: 105px;
    left: 0;
    padding-top:0px;   
    background: #137913;  
    height: 60px;
    width: 100%;
    opacity: .9;
    /* For IE 5-7 */  
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);  
    /* For IE 8 */  
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";  
}

.boxcaption p{color:#FFF;}

.all{margin-right:10px;}

.messages-table{margin:20px; width:690px;}
.messages-table .message-row{cursor: pointer;}
.messages-table th{text-align: center; padding:10px; background:#333; color:#FFF;}
.messages-table td{text-align: center; font-size: 13px; padding:20px; background:#EEE}
.messages-table .not-seen td{background:#DDD; color:#333;}

.message .info{ padding:0px 30px; margin-bottom:40px; line-height: 22px; }
.message .info .row{float:right; margin-top:20px;}
.message .info .row .key{float:right; margin-left:10px; font-weight: bold; color:#900; width:100px;}
.message .info .row .value{float:right; width:550px; text-align: justify;}
.message .info .row .value a{text-decoration: underline;}
.message .info .row .value a:hover{text-decoration: none;}
.message .info .row .value a.small-red{color:#900; font-size:11px; margin-right:10px; text-decoration: none;}
.message .info .row .value a.small-red:hover{text-decoration: underline;}

.profile{padding-bottom:20px; font-family: Tahoma;}

.profile a:hover{text-decoration: none;}

.profile-img{float:right; padding:20px 20px 0px 0px;}
.send-message, .edit-profile{text-align: center; background:url('images/green-gradient.jpg'); padding:5px; margin-top:10px; border-radius: 10px; color:#FFF;}
.send-message:hover{text-decoration: none; font-size: 16px;}
.edit-profile{ background: url('images/grey-gradient.jpg'); }
.edit-profile:hover{ background: url('images/light-grey-gradient.jpg'); }

.profile-info{ padding:10px; margin-left:0px; float:right; width:560px; }
.profile-big{margin-right:10px; width:680px;}
.profile-info .info-title{ background: #333; color:#FFF;padding:10px; border-bottom:1px solid #BBB; border-radius: 5px 5px 0px 0px; margin-top:10px; font-size:14px; }
.profile-section{padding-bottom:4px; background: #EEE; border-radius: 5px; margin-bottom:0px; margin-right:10px;}
.profile-section .box{margin-bottom: 20px;}
	.row{ margin-right:10px; margin-top:15px; font-size:12px;}
	.row .right-row{float:right; width:220px;}
	.row .left-row{float:right;}
	.row .key{float:right; text-align: left; font-weight: bold; margin-left:10px; width:100px;}
	.row .value{float:right; width:110px;}
	.row .only-value{margin-right:110px;}
	.row .value-section{float:right; margin-left:20px;}

.create-event{padding:20px; padding-bottom: 0px;}
